<!-- header.html -->
<header class="header">
	<div class="header-container">
		<a href="#" class="header-logo-link"><img src="img/logo.svg" alt="logo" class="header-logo"></a>
        <div class="header-menu-block">
            <ul class="header-menu">
                <li class="header-list">
                    <a href="#" class="header-link">каталог
                        <svg id="Layer_1" class="header-list-menu" fill="#a1a4ac" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 6 4">
                            <polygon points="6 1.07 4.91 0 3 1.87 1.09 0 0 1.07 3 4 6 1.07"/>
                        </svg>
                    </a>
                    <ul class="header-drop">
                        <li class="header-drop-list"><a href="#" class="header-drop-link">Ковролин</a></li>
                        <li class="header-drop-list"><a href="#" class="header-drop-link">Линолеум ПВХ</a></li>
                        <li class="header-drop-list"><a href="#" class="header-drop-link">Ламинат</a></li>
                        <li class="header-drop-list"><a href="#" class="header-drop-link">Модульная плитка</a></li>
                        <li class="header-drop-list"><a href="#" class="header-drop-link">для открытых помещений</a></li>
                    </ul>
                </li>
                <li class="header-list">
                    <a href="#" class="header-link">О компании</a>
                </li>
                <li class="header-list">
                    <a href="#" class="header-link">Услуги</a>
                </li>
                <li class="header-list">
                    <a href="#" class="header-link">Портфолио</a>
                </li>
                <li class="header-list">
                    <a href="#" class="header-link">Контакты</a>
                </li>
                <li class="header-list-phone">
                    <a href="tel:5612900400" class="header-phone">561-290-0400</a>
                    <a href="tel:5612900400" class="header-phone">561-290-0400</a>
                </li>
            </ul>
        </div>
	</div>
	<div class="header-container">
		<div class="header-phone-container">
			<a href="tel:5612900400" class="header-phone">561-290-0400</a>
			<a href="tel:5612900400" class="header-phone">561-290-0400</a>
		</div>
        <div class="header-flex">
            <div class="header-search">
                <div class="header-search-label">
                    <input type="text" class="header-input" placeholder="Поиск по сайту">
                    <svg id="Layer_1" data-name="Layer 1" class="header-svg" viewBox="0 0 82.1 82.1">
                        <defs>
                            <style>
                                .cls-1{fill:none;}
                                .cls-2{clip-path:url(#clip-path);}
                            </style>
                            <clipPath id="clip-path" transform="translate(74) scale(-1, 1)">
                                <path class="cls-1" d="M33,57a24,24,0,1,1,17-7A24,24,0,0,1,33,57Zm38.83,9.17L58.26,52.61a32,32,0,1,0-5.65,5.65L66.17,71.83a4,4,0,1,0,5.66-5.66Z"/>
                            </clipPath>
                        </defs>
                        <g class="cls-2">
                            <rect width="82.1" height="82.1"/>
                        </g>
                    </svg>
                    <div class="header-delete"><img src="img/del.svg" alt="" class="header-delete-img"></div>
                </div>
                <svg id="Layer_1" data-name="Layer 1" class="header-svg-two" viewBox="0 0 82.1 82.1">
                    <defs>
                        <style>
                            .cls-1{fill:none;}
                            .cls-2{clip-path:url(#clip-path);}
                        </style>
                        <clipPath id="clip-path" transform="translate(74) scale(-1, 1)">
                            <path class="cls-1" d="M33,57a24,24,0,1,1,17-7A24,24,0,0,1,33,57Zm38.83,9.17L58.26,52.61a32,32,0,1,0-5.65,5.65L66.17,71.83a4,4,0,1,0,5.66-5.66Z"/>
                        </clipPath>
                    </defs>
                    <g class="cls-2">
                        <rect width="82.1" height="82.1"/>
                    </g>
                </svg>
                <ul class="header-search-menu">
                    <li class="header-search-list">
                        <a href="#" class="header-search-link">
                            <img src="img/mini.png" alt="" class="header-search-img">
                            <div class="header-search-item">
                                <div class="header-search-title">Forbo Flotex Colour Metro</div>
                                <div class="header-search-price">118 грн</div>
                            </div>
                        </a>
                    </li>
                    <li class="header-search-list">
                        <a href="#" class="header-search-link">
                            <img src="img/mini.png" alt="" class="header-search-img">
                            <div class="header-search-item">
                                <div class="header-search-title">Forbo Flotex Colour Metro</div>
                                <div class="header-search-price">118 грн</div>
                            </div>
                        </a>
                    </li>
                    <li class="header-search-list">
                        <a href="#" class="header-search-link">
                            <img src="img/mini.png" alt="" class="header-search-img">
                            <div class="header-search-item">
                                <div class="header-search-title">Forbo Flotex Colour Metro</div>
                                <div class="header-search-price">118 грн</div>
                            </div>
                        </a>
                    </li>
                    <li class="header-search-list">
                        <a href="#" class="header-search-link">
                            <img src="img/mini.png" alt="" class="header-search-img">
                            <div class="header-search-item">
                                <div class="header-search-title">Forbo Flotex Colour Metro</div>
                                <div class="header-search-price">118 грн</div>
                            </div>
                        </a>
                    </li>
                    <li class="header-search-list">
                        <a href="#" class="header-search-link">
                            <img src="img/mini.png" alt="" class="header-search-img">
                            <div class="header-search-item">
                                <div class="header-search-title">Forbo Flotex Colour Metro</div>
                                <div class="header-search-price">118 грн</div>
                            </div>
                        </a>
                    </li>
                    <li class="header-search-list">
                        <a href="#" class="header-search-link">
                            <img src="img/mini.png" alt="" class="header-search-img">
                            <div class="header-search-item">
                                <div class="header-search-title">Forbo Flotex Colour Metro</div>
                                <div class="header-search-price">118 грн</div>
                            </div>
                        </a>
                    </li>

                </ul>
            </div>
            <div class="header-libra">
                <img src="img/compare.svg" alt="" class="header-libra-img">
                <span class="header-libra-span">12</span>
            </div>
        </div>
        <div class="header-btn-menu">
            <span class="header-line header-line_top"></span>
            <span class="header-line header-line_center"></span>
            <span class="header-line header-line_bottom"></span>
        </div>
	</div>

</header>