<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>phone</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=360, maximum-scale=1.0"/>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
@import "header.html"
<div class="compare">
    <div class="compare-main">
        <div class="catalog-crumbs">
            <a href="#" class="catalog-crumbs-link">Главная</a>
            <a href="#" class="catalog-crumbs-link active">Ламинат</a>
        </div>
        <h4 class="compare-title">Сравнение товаров</h4>
        <div class="compare-flex">
            <div class="compare-left">
                <p class="compare-left-label">Товары в сравнении</p>
                <div class="compare-left-tabs">
                    <a href="" class="compare-left-tab active">Все параметры</a>
                    <a href="" class="compare-left-tab">Только отличия</a>
                </div>
                <ul class="compare-left-list">
                    <li class="compare-left-item">Название</li>
                    <li class="compare-left-item">Класс износоусточивости:</li>
                    <li class="compare-left-item">Производитель:</li>
                    <li class="compare-left-item">Тип по применению:</li>
                    <li class="compare-left-item">Общая толщина изделия, мм:</li>
                    <li class="compare-left-item">Общий вес, кг/кв. м:</li>
                    <li class="compare-left-item">Ширина рулона, м:</li>
                    <li class="compare-left-item">Тип основы:</li>
                    <li class="compare-left-item">Страна-производитель:</li>
                    <li class="compare-left-item">Тип ворса:</li>
                    <li class="compare-left-item">Высота ворса, мм:</li>
                    <li class="compare-left-item">Вес (плотность) ворса, кг/кв. м:</li>
                    <li class="compare-left-item">Способ производства:</li>
                    <li class="compare-left-item">Количество узлов, шт./кв. м:</li>
                    <li class="compare-left-item">Уровень шумопоглащения, дБ:</li>
                </ul>
            </div>
            <div class="compare-right">
                <div class="compare-right-slider">
                    <div class="compare-right-slide">
                        <a href="" class="compare-right-close"></a>
                        <div class="compare-right-block">
                            <img src="img/big1.png" alt="" class="compare-right-img">
                            <p class="compare-right-price">
                                <span class="compare-right-value">683.55</span>
                                <span class="compare-right-currency">грн/кв.м</span>
                            </p>
                        </div>
                        <ul class="compare-right-list">
                            <li class="compare-right-item">Tarkett Infinite</li>
                            <li class="compare-right-item">231</li>
                            <li class="compare-right-item">
                                <a href="" class="compare-right-item-link">Milliken</a>
                            </li>
                            <li class="compare-right-item">Бытовой</li>
                            <li class="compare-right-item">9,5</li>
                            <li class="compare-right-item">2,365</li>
                            <li class="compare-right-item">4/5</li>
                            <li class="compare-right-item">Джут</li>
                            <li class="compare-right-item">Франция</li>
                            <li class="compare-right-item">Разрезной</li>
                            <li class="compare-right-item">100% PA</li>
                            <li class="compare-right-item">7</li>
                            <li class="compare-right-item">1,3</li>
                            <li class="compare-right-item">Тафтинговый</li>
                            <li class="compare-right-item">197500</li>
                        </ul>
                    </div>
                    <div class="compare-right-slide">
                        <a href="" class="compare-right-close"></a>
                        <div class="compare-right-block">
                            <img src="img/big1.png" alt="" class="compare-right-img">
                            <p class="compare-right-price">
                                <span class="compare-right-value">683.55</span>
                                <span class="compare-right-currency">грн/кв.м</span>
                            </p>
                        </div>
                        <ul class="compare-right-list">
                            <li class="compare-right-item">Tarkett Infinite</li>
                            <li class="compare-right-item">23</li>
                            <li class="compare-right-item">
                                <a href="" class="compare-right-item-link">Milliken</a>
                            </li>
                            <li class="compare-right-item">Бытовой</li>
                            <li class="compare-right-item">9,5</li>
                            <li class="compare-right-item">2,365</li>
                            <li class="compare-right-item">4/5</li>
                            <li class="compare-right-item">Джут</li>
                            <li class="compare-right-item">Франция</li>
                            <li class="compare-right-item">Разрезной</li>
                            <li class="compare-right-item">100% PA</li>
                            <li class="compare-right-item">7</li>
                            <li class="compare-right-item">1,3</li>
                            <li class="compare-right-item">Тафтинговый</li>
                            <li class="compare-right-item">197500</li>
                        </ul>
                    </div>
                    <div class="compare-right-slide">
                        <a href="" class="compare-right-close"></a>
                        <div class="compare-right-block">
                            <img src="img/big1.png" alt="" class="compare-right-img">
                            <p class="compare-right-price">
                                <span class="compare-right-value">683.55</span>
                                <span class="compare-right-currency">грн/кв.м</span>
                            </p>
                        </div>
                        <ul class="compare-right-list">
                            <li class="compare-right-item">Tarkett Infinite</li>
                            <li class="compare-right-item">23</li>
                            <li class="compare-right-item">
                                <a href="" class="compare-right-item-link">Milliken</a>
                            </li>
                            <li class="compare-right-item">Бытовой</li>
                            <li class="compare-right-item">9,5</li>
                            <li class="compare-right-item">2,365</li>
                            <li class="compare-right-item">4/5</li>
                            <li class="compare-right-item">Джут</li>
                            <li class="compare-right-item">Франция</li>
                            <li class="compare-right-item">Разрезной</li>
                            <li class="compare-right-item">100% PA</li>
                            <li class="compare-right-item">7</li>
                            <li class="compare-right-item">1,3</li>
                            <li class="compare-right-item">Тафтинговый</li>
                            <li class="compare-right-item">197500</li>
                        </ul>
                    </div>
                    <div class="compare-right-slide">
                        <a href="" class="compare-right-close"></a>
                        <div class="compare-right-block">
                            <img src="img/big1.png" alt="" class="compare-right-img">
                            <p class="compare-right-price">
                                <span class="compare-right-value">683.55</span>
                                <span class="compare-right-currency">грн/кв.м</span>
                            </p>
                        </div>
                        <ul class="compare-right-list">
                            <li class="compare-right-item">Tarkett Infinite</li>
                            <li class="compare-right-item">23</li>
                            <li class="compare-right-item">
                                <a href="" class="compare-right-item-link">Milliken</a>
                            </li>
                            <li class="compare-right-item">Бытовой</li>
                            <li class="compare-right-item">9,5</li>
                            <li class="compare-right-item">2,365</li>
                            <li class="compare-right-item">4/5</li>
                            <li class="compare-right-item">Джут</li>
                            <li class="compare-right-item">Франция</li>
                            <li class="compare-right-item">Разрезной</li>
                            <li class="compare-right-item">100% PA</li>
                            <li class="compare-right-item">7</li>
                            <li class="compare-right-item">1,3</li>
                            <li class="compare-right-item">Тафтинговый</li>
                            <li class="compare-right-item">197500</li>
                        </ul>
                    </div>
                    <div class="compare-right-slide">
                        <a href="" class="compare-right-close"></a>
                        <div class="compare-right-block">
                            <img src="img/big1.png" alt="" class="compare-right-img">
                            <p class="compare-right-price">
                                <span class="compare-right-value">683.55</span>
                                <span class="compare-right-currency">грн/кв.м</span>
                            </p>
                        </div>
                        <ul class="compare-right-list">
                            <li class="compare-right-item">Tarkett Infinite</li>
                            <li class="compare-right-item">23</li>
                            <li class="compare-right-item">
                                <a href="" class="compare-right-item-link">Milliken</a>
                            </li>
                            <li class="compare-right-item">Бытовой</li>
                            <li class="compare-right-item">9,5</li>
                            <li class="compare-right-item">2,365</li>
                            <li class="compare-right-item">4/5</li>
                            <li class="compare-right-item">Джут</li>
                            <li class="compare-right-item">Франция</li>
                            <li class="compare-right-item">Разрезной</li>
                            <li class="compare-right-item">100% PA</li>
                            <li class="compare-right-item">7</li>
                            <li class="compare-right-item">1,3</li>
                            <li class="compare-right-item">Тафтинговый</li>
                            <li class="compare-right-item">197500</li>
                        </ul>
                    </div>
                    <div class="compare-right-slide">
                        <a href="" class="compare-right-close"></a>
                        <div class="compare-right-block">
                            <img src="img/big1.png" alt="" class="compare-right-img">
                            <p class="compare-right-price">
                                <span class="compare-right-value">683.55</span>
                                <span class="compare-right-currency">грн/кв.м</span>
                            </p>
                        </div>
                        <ul class="compare-right-list">
                            <li class="compare-right-item">Tarkett Infinite</li>
                            <li class="compare-right-item">23</li>
                            <li class="compare-right-item">
                                <a href="" class="compare-right-item-link">Milliken</a>
                            </li>
                            <li class="compare-right-item">Бытовой</li>
                            <li class="compare-right-item">9,5</li>
                            <li class="compare-right-item">2,365</li>
                            <li class="compare-right-item">4/5</li>
                            <li class="compare-right-item">Джут</li>
                            <li class="compare-right-item">Франция</li>
                            <li class="compare-right-item">Разрезной</li>
                            <li class="compare-right-item">100% PA</li>
                            <li class="compare-right-item">7</li>
                            <li class="compare-right-item">1,3</li>
                            <li class="compare-right-item">Тафтинговый</li>
                            <li class="compare-right-item">197500</li>
                        </ul>
                    </div>
                    <div class="compare-right-slide">
                        <a href="" class="compare-right-close"></a>
                        <div class="compare-right-block">
                            <img src="img/big1.png" alt="" class="compare-right-img">
                            <p class="compare-right-price">
                                <span class="compare-right-value">683.55</span>
                                <span class="compare-right-currency">грн/кв.м</span>
                            </p>
                        </div>
                        <ul class="compare-right-list">
                            <li class="compare-right-item">Tarkett Infinite</li>
                            <li class="compare-right-item">23</li>
                            <li class="compare-right-item">
                                <a href="" class="compare-right-item-link">Milliken</a>
                            </li>
                            <li class="compare-right-item">Бытовой</li>
                            <li class="compare-right-item">9,5</li>
                            <li class="compare-right-item">2,365</li>
                            <li class="compare-right-item">4/5</li>
                            <li class="compare-right-item">Джут</li>
                            <li class="compare-right-item">Франция</li>
                            <li class="compare-right-item">Разрезной</li>
                            <li class="compare-right-item">100% PA</li>
                            <li class="compare-right-item">7</li>
                            <li class="compare-right-item">1,3</li>
                            <li class="compare-right-item">Тафтинговый</li>
                            <li class="compare-right-item">197500</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
