<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>phone</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=360, maximum-scale=1.0"/>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
@import "header.html"
<div class="home">
    <div class="overlay"></div>
    <section class="home-first">
        <div class="home-slider-colum gsapFade" data-delay="0.1" data-duration="3">
            <div class="first-slider">
                <div class="first-slider-item">
                    <img src="img/slider1.png" alt="" class="first-slider-img">
                    <div class="first-slider-flex">
                        <div class="first-slider-stock">Акция</div>
                        <div class="first-slider-title">При покупке от 30м2 <br>укладка в подарок</div>
                        <p class="first-slider-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="first-slider-item">
                    <img src="img/slider1.png" alt="" class="first-slider-img">
                    <div class="first-slider-flex">
                        <div class="first-slider-stock">Акция</div>
                        <div class="first-slider-title">При покупке от 30м2 <br>укладка в подарок</div>
                        <p class="first-slider-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="first-slider-item">
                    <img src="img/slider1.png" alt="" class="first-slider-img">
                    <div class="first-slider-flex">
                        <div class="first-slider-stock">Акция</div>
                        <div class="first-slider-title">При покупке от 30м2 <br>укладка в подарок</div>
                        <p class="first-slider-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
                <div class="first-slider-item">
                    <img src="img/slider1.png" alt="" class="first-slider-img">
                    <div class="first-slider-flex">
                        <div class="first-slider-stock">Акция</div>
                        <div class="first-slider-title">При покупке от 30м2 <br>укладка в подарок</div>
                        <p class="first-slider-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-slider-colum gsapFade" data-delay="0.1" data-duration="3">
            <div class="second-slider">
                <div class="second-slider-item">
                    <div class="second-slider-shudow"></div>
                    <img src="img/slider3.png" alt="" class="second-slider-img">
                    <div class="second-slider-popular">Популярное</div>
                    <div class="second-slider-flex">
                        <div class="second-slider-block">
                            <div class="second-slider-title">Ковролин
                                Moquette Along
                            </div>
                            <div class="second-slider-price">683.55 грн/кв.м</div>
                        </div>
                    </div>
                </div>
                <div class="second-slider-item">
                    <div class="second-slider-shudow"></div>
                    <img src="img/slider2.png" alt="" class="second-slider-img">
                    <div class="second-slider-popular">Популярное</div>
                    <div class="second-slider-flex">
                        <div class="second-slider-block">
                            <div class="second-slider-title">Ковролин
                                Moquette Along
                            </div>
                            <div class="second-slider-price">683.55 грн/кв.м</div>
                        </div>
                    </div>
                </div>
                <div class="second-slider-item">
                    <div class="second-slider-shudow"></div>
                    <img src="img/slider1.png" alt="" class="second-slider-img">
                    <div class="second-slider-popular">Популярное</div>
                    <div class="second-slider-flex">
                        <div class="second-slider-block">
                            <div class="second-slider-title">Ковролин
                                Moquette Along
                            </div>
                            <div class="second-slider-price">683.55 грн/кв.м</div>
                        </div>
                    </div>
                </div>
                <div class="second-slider-item">
                    <div class="second-slider-shudow"></div>
                    <img src="img/slider4.png" alt="" class="second-slider-img">
                    <div class="second-slider-popular">Популярное</div>
                    <div class="second-slider-flex">
                        <div class="second-slider-block">
                            <div class="second-slider-title">Ковролин
                                Moquette Along
                            </div>
                            <div class="second-slider-price">683.55 грн/кв.м</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="third-slider">
                <div class="second-slider-item">
                    <div class="second-slider-shudow"></div>
                    <img src="img/slider4.png" alt="" class="second-slider-img">
                    <div class="second-slider-sell">Распродажа</div>
                    <div class="second-slider-flex">
                        <div class="second-slider-block">
                            <div class="second-slider-title">Ковролин
                                Moquette Along
                            </div>
                            <div class="second-slider-price">683.55 грн/кв.м</div>
                        </div>
                    </div>
                </div>
                <div class="second-slider-item">
                    <div class="second-slider-shudow"></div>
                    <img src="img/slider2.png" alt="" class="second-slider-img">
                    <div class="second-slider-sell">Распродажа</div>
                    <div class="second-slider-flex">
                        <div class="second-slider-block">
                            <div class="second-slider-title">Ковролин
                                Moquette Along
                            </div>
                            <div class="second-slider-price">683.55 грн/кв.м</div>
                        </div>
                    </div>
                </div>
                <div class="second-slider-item">
                    <div class="second-slider-shudow"></div>
                    <img src="img/slider1.png" alt="" class="second-slider-img">
                    <div class="second-slider-sell">Распродажа</div>
                    <div class="second-slider-flex">
                        <div class="second-slider-block">
                            <div class="second-slider-title">Ковролин
                                Moquette Along
                            </div>
                            <div class="second-slider-price">683.55 грн/кв.м</div>
                        </div>
                    </div>
                </div>
                <div class="second-slider-item">
                    <div class="second-slider-shudow"></div>
                    <img src="img/slider3.png" alt="" class="second-slider-img">
                    <div class="second-slider-sell">Распродажа</div>
                    <div class="second-slider-flex">
                        <div class="second-slider-block">
                            <div class="second-slider-title">Ковролин
                                Moquette Along
                            </div>
                            <div class="second-slider-price">683.55 грн/кв.м</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home-slider-colum gsapFade" data-delay="0.1" data-duration="3">
            <div class="fouth-slider">
                <div class="fouth-slider-item">
                    <div class="second-slider-shudow"></div>
                    <img src="img/slider1.png" alt="" class="fouth-slider-img">
                    <div class="fouth-slider-new">Новинки</div>
                    <div class="fouth-slider-flex">
                        <div class="fouth-slider-block">
                            <div class="fouth-slider-title">Ковролин
                                Moquette Along
                            </div>
                            <div class="fouth-slider-price">683.55 грн/кв.м</div>
                        </div>
                    </div>
                </div>
                <div class="fouth-slider-item">
                    <div class="second-slider-shudow"></div>
                    <img src="img/slider2.png" alt="" class="fouth-slider-img">
                    <div class="fouth-slider-new">Новинки</div>
                    <div class="fouth-slider-flex">
                        <div class="fouth-slider-block">
                            <div class="fouth-slider-title">Ковролин
                                Moquette Along
                            </div>
                            <div class="fouth-slider-price">683.55 грн/кв.м</div>
                        </div>
                    </div>
                </div>
                <div class="fouth-slider-item">
                    <div class="second-slider-shudow"></div>
                    <img src="img/slider4.png" alt="" class="fouth-slider-img">
                    <div class="fouth-slider-new">Новинки</div>
                    <div class="fouth-slider-flex">
                        <div class="fouth-slider-block">
                            <div class="fouth-slider-title">Ковролин
                                Moquette Along
                            </div>
                            <div class="fouth-slider-price">683.55 грн/кв.м</div>
                        </div>
                    </div>
                </div>
                <div class="fouth-slider-item">
                    <div class="second-slider-shudow"></div>
                    <img src="img/slider3.png" alt="" class="fouth-slider-img">
                    <div class="fouth-slider-new">Новинки</div>
                    <div class="fouth-slider-flex">
                        <div class="fouth-slider-block">
                            <div class="fouth-slider-title">Ковролин
                                Moquette Along
                            </div>
                            <div class="fouth-slider-price">683.55 грн/кв.м</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="home-second">
        <a href="#" class="home-second-link"><img src="img/logos1.png" alt="" class="home-second-img"></a>
        <a href="#" class="home-second-link"><img src="img/logos2.png" alt="" class="home-second-img"></a>
        <a href="#" class="home-second-link"><img src="img/logos3.png" alt="" class="home-second-img"></a>
        <a href="#" class="home-second-link"><img src="img/logos4.png" alt="" class="home-second-img"></a>
        <a href="#" class="home-second-link"><img src="img/logos5.png" alt="" class="home-second-img"></a>
        <a href="#" class="home-second-link"><img src="img/logos6.png" alt="" class="home-second-img"></a>
        <a href="#" class="home-second-link"><img src="img/logos7.png" alt="" class="home-second-img"></a>
        <a href="#" class="home-second-link"><img src="img/logos8.png" alt="" class="home-second-img"></a>
        <a href="#" class="home-second-link"><img src="img/logos9.png" alt="" class="home-second-img"></a>
    </section>
    <section class="home-third">
        <div class="home-third-colum gsapFade" data-delay="0.1" data-duration="3">
            <a href="#" class="home-third-item">
                <img src="img/third1.png" alt="" class="home-third-img">
                <div class="home-third-title">
                    Ковролин
                </div>
            </a>
        </div>
        <div class="home-third-colum gsapFade" data-delay="0.1" data-duration="3">
            <a href="#" class="home-third-item">
                <img src="img/third1.png" alt="" class="home-third-img">
                <div class="home-third-title">
                    линолеум ПВХ
                </div>
            </a>
        </div>
        <div class="home-third-colum gsapFade" data-delay="0.1" data-duration="3">
            <a href="#" class="home-third-item-third">
                <img src="img/third2.png" alt="" class="home-third-img">
                <div class="home-third-title">
                    ламинат
                </div>
            </a>
            <a href="#" class="home-third-item-third">
                <img src="img/third1.png" alt="" class="home-third-img">
                <div class="home-third-title">
                    модульная плитка
                </div>
            </a>
        </div>
        <div class="home-third-colum gsapFade" data-delay="0.1" data-duration="3">
            <a href="#" class="home-third-item">
                <img src="img/third2.png" alt="" class="home-third-img">
                <div class="home-third-title">
                    для открытых<br>
                    помещениЙ
                </div>
            </a>
        </div>
    </section>
</div>
@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>


</body>
</html>
