<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>phone</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">-->
    <meta name="viewport" content="width=360, maximum-scale=1.0"/>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="css/libs.min.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body>
@import "header.html"
<div class="portfolio">
    <div class="portfolio-main">
        <div class="catalog-crumbs">
            <a href="#" class="catalog-crumbs-link">Главная</a>
            <a href="#" class="catalog-crumbs-link active">Ламинат</a>
        </div>
        <div class="portfolio-tabs">
            <a href="" class="portfolio-tabs-link active">Все работы</a>
            <a href="" class="portfolio-tabs-link">Поликлиники</a>
            <a href="" class="portfolio-tabs-link">Офисы</a>
            <a href="" class="portfolio-tabs-link">Рестораны</a>
            <a href="" class="portfolio-tabs-link">Кафе</a>
            <a href="" class="portfolio-tabs-link">Площадки</a>
        </div>
        <div class="portfolio-content">
            <a href="" class="portfolio-item">
                <img src="img/portfolio1.jpg" alt="" class="portfolio-item-img">
                <span class="portfolio-item-content">
                    <span class="portfolio-item-label">Ковролин</span>
                    <span class="portfolio-item-bottom">
                        <span class="portfolio-item-title">Укладка ковролина в помещении офиса</span>
                        <span class="portfolio-item-description">Площадь помещения 62м<span class="up-text">2</span></span>
                    </span>
                </span>
            </a>
            <a href="" class="portfolio-item portfolio-item_big">
                <img src="img/portfolio3.jpg" alt="" class="portfolio-item-img">
                <span class="portfolio-item-content">
                    <span class="portfolio-item-label">ПВХ-ПЛИТКА</span>
                    <span class="portfolio-item-bottom">
                        <span class="portfolio-item-title">Укладка ПВХ-плитки в бизнес-центре</span>
                        <span class="portfolio-item-description">Площадь помещения 62м<span class="up-text">2</span></span>
                    </span>
                </span>
            </a>
            <a href="" class="portfolio-item">
                <img src="img/portfolio4.jpg" alt="" class="portfolio-item-img">
                <span class="portfolio-item-content">
                    <span class="portfolio-item-label">Искусственная трава</span>
                    <span class="portfolio-item-bottom">
                        <span class="portfolio-item-title">Укладка искусственной травы в ТЦ Дарынок</span>
                        <span class="portfolio-item-description">Площадь помещения 62м<span class="up-text">2</span></span>
                    </span>
                </span>
            </a>
            <a href="" class="portfolio-item">
                <img src="img/portfolio6.jpg" alt="" class="portfolio-item-img">
                <span class="portfolio-item-content">
                    <span class="portfolio-item-label">Ковролин</span>
                    <span class="portfolio-item-bottom">
                        <span class="portfolio-item-title">Укладка ковровой плитки в трц</span>
                        <span class="portfolio-item-description">Площадь помещения 62м<span class="up-text">2</span></span>
                    </span>
                </span>
            </a>
            <a href="" class="portfolio-item">
                <img src="img/portfolio2.jpg" alt="" class="portfolio-item-img">
                <span class="portfolio-item-content">
                    <span class="portfolio-item-label">Линолеум</span>
                    <span class="portfolio-item-bottom">
                        <span class="portfolio-item-title">Монтаж коммерческого линолеума в офисе IT компании</span>
                        <span class="portfolio-item-description">Площадь помещения 62м<span class="up-text">2</span></span>
                    </span>
                </span>
            </a>
            <a href="" class="portfolio-item">
                <img src="img/portfolio5.jpg" alt="" class="portfolio-item-img">
                <span class="portfolio-item-content">
                    <span class="portfolio-item-label">Ламинат</span>
                    <span class="portfolio-item-bottom">
                        <span class="portfolio-item-title">Укладка ламината в ТЦ «Домосфера»</span>
                        <span class="portfolio-item-description">Площадь помещения 62м<span class="up-text">2</span></span>
                    </span>
                </span>
            </a>
            <a href="" class="portfolio-item">
                <img src="img/portfolio7.jpg" alt="" class="portfolio-item-img">
                <span class="portfolio-item-content">
                    <span class="portfolio-item-label">Популярное</span>
                    <span class="portfolio-item-bottom">
                        <span class="portfolio-item-title">Укладка ковровойплитки в офисном помещении</span>
                        <span class="portfolio-item-description">Площадь помещения 62м<span class="up-text">2</span></span>
                    </span>
                </span>
            </a>
            <a href="" class="portfolio-item portfolio-item_big">
                <img src="img/portfolio3.jpg" alt="" class="portfolio-item-img">
                <span class="portfolio-item-content">
                    <span class="portfolio-item-label">ПВХ-ПЛИТКА</span>
                    <span class="portfolio-item-bottom">
                        <span class="portfolio-item-title">Укладка ПВХ-плитки в бизнес-центре</span>
                        <span class="portfolio-item-description">Площадь помещения 62м<span class="up-text">2</span></span>
                    </span>
                </span>
            </a>
            <a href="" class="portfolio-item">
                <img src="img/portfolio1.jpg" alt="" class="portfolio-item-img">
                <span class="portfolio-item-content">
                    <span class="portfolio-item-label">Ковролин</span>
                    <span class="portfolio-item-bottom">
                        <span class="portfolio-item-title">Укладка ковролина в помещении офиса</span>
                        <span class="portfolio-item-description">Площадь помещения 62м<span class="up-text">2</span></span>
                    </span>
                </span>
            </a>
            <a href="" class="portfolio-item">
                <img src="img/portfolio4.jpg" alt="" class="portfolio-item-img">
                <span class="portfolio-item-content">
                    <span class="portfolio-item-label">Искусственная трава</span>
                    <span class="portfolio-item-bottom">
                        <span class="portfolio-item-title">Укладка искусственной травы в ТЦ Дарынок</span>
                        <span class="portfolio-item-description">Площадь помещения 62м<span class="up-text">2</span></span>
                    </span>
                </span>
            </a>
            <a href="" class="portfolio-item">
                <img src="img/portfolio6.jpg" alt="" class="portfolio-item-img">
                <span class="portfolio-item-content">
                    <span class="portfolio-item-label">Ковролин</span>
                    <span class="portfolio-item-bottom">
                        <span class="portfolio-item-title">Укладка ковровой плитки в трц</span>
                        <span class="portfolio-item-description">Площадь помещения 62м<span class="up-text">2</span></span>
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>
@import "footer.html"

<script src="js/jquery.min.js"></script>
<script src="js/libs.min.js"></script>
<script src="js/common.js"></script>

</body>
</html>
